<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta http-equiv="refresh" content="3" /> -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="style.css">
    <title>TO-DO List</title>
  </head>
  <body>
<div class="box" id="heading">
  <h1>Today is : <%=kindsOfDay %></h1>
  <h2>Add Your TO-DO List</h2>
</div>

<div class="box">
  <%for(var i=0;i<newListItems.length;i++){%>

  <div class="item">
    <input type="checkbox">
  <p><%=newListItems[i]%></p>
 </div>
 <%}%>

 
 <form class="item" action="/" method="POST">
  <input type="text" name="newItem" placeholder="New Item" autofocus autocomplete="off">
  <button type="submit" name="button">+</button>
</form>
</div>


  </body>
</html>
